
.content_contato{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 600px;
}
.content_contato h3{
    font-size: 2.5rem;
    margin: 2rem;
    color: #eee;
}
.form_contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 500px;
    background-color: #9d06f3;
    border-radius: 5px;
    padding: 10px 30px;
}
.form{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}
.form label{
    color: #eee;
}
.form input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
.form textarea{
    height: 80px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}
.content_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    margin-top: 10px;
    width: 95%;
    background-color: #eee;
    border-radius: 5px;
}
